<%- include('partials/header'); -%>
<div class="containter">
<form action="/login", method="POST">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="fs-1 fw-bold">Login</h1>
    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="bi bi-person-circle"></i>
      </span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" id="username" name="username" required>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="bi bi-incognito"></i>
      </span>
      <input type="password" class="form-control" placeholder="Password" aria-label="Password" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-warning">Login</button>
  </div>
</div>
</form>

<%- include('partials/footer') -%>
